<div class="card">
  <div class="card-body">

    <h5 class="card-title">復習リスト</h5>

    {% for review in review_list %}
      <div class="alert alert-dismissible fade show" role="alert" data-review-date="{{ review.review_date }}">
        <strong>{{ review.sub_name }}: {{ review.task_name }}</strong> - 復習日: {{ review.review_date }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="updateStatus({{ review.id }})"></button>
      </div>
    {% endfor %}

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const alerts = document.querySelectorAll('.alert[data-review-date]');
    const now = new Date();
    const oneWeekLater = new Date();
    oneWeekLater.setDate(now.getDate() + 7);

    alerts.forEach(alert => {
      const reviewDate = new Date(alert.getAttribute('data-review-date'));
      if (reviewDate > oneWeekLater) {
        alert.style.display = 'none';
      } else if (reviewDate < now) {
        alert.classList.add('alert-danger');
      } else {
        alert.classList.add('alert-success');
      }
    });
  });

  function updateStatus(taskId) {
    fetch(`/update_status/${taskId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log('Status updated successfully');
        } else {
            console.error('Failed to update status');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>