{% extends "registration/base.html" %}
{% load static %}
{% block title %}ログイン{% endblock %}
{% block main %}

    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">アプリ名</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">ログイン画面</h5>
                    <p class="text-center small">ユーザーIDとパスワードを入力して下さい</p>
                  </div>

                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputUsername" type="text" placeholder="Username" name="u_name" />
                        <label for="inputUsername">ユーザーID</label>
                    </div>
                    {% if form.u_name.errors %}
                        <div class="text-danger">{{ form.u_name.errors }}</div>
                    {% endif %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="u_pass" />
                        <label for="inputPassword">パスワード</label>
                    </div>
                    {% if form.u_pass.errors %}
                        <div class="text-danger">{{ form.u_pass.errors }}</div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="text-danger">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in me-1"></i>ログイン</button>
                    </div>
                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
{% endblock %}


</body>



</html>

student_password = '2024stu01'
encrypted_student_password = make_password(student_password)
student = TblUser.objects.create(
    u_name='stu01',
    u_pass=encrypted_student_password,
    s_id=1,
    u_auth=1,
    l_login_date=None,
    update_date=None,
    reg_date=None
)
print(f'Student account created: {student.u_name}')

# 教室アカウントの作成
school_password = '2024sch01'
encrypted_school_password = make_password(school_password)
school = TblSchoolid.objects.create(
    s_id='basicSchool',
    s_pass=encrypted_school_password,
    l_login_date=None,
    update_date=None,
    reg_date=None
)
print(f'School account created: {school.s_id}')