{% extends "base.html"%}
{% load static %}
{% block title %}タスク追加画面{% endblock %}




{% block main %}
<main id="main" class="main">


    <div class="pagetitle">
        <h1>タスク追加</h1>
    <section class="section dashboard">
        <div class="row">
                    <!-- Left side columns -->
        <div class="col-lg-2">
            
            <div class="row">
                <ul class="sidebar-nav" id="sidebar-nav">
  
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>カリキュラム名</span><i class="bi bi-chevron-down ms-auto"></i>
                      </a>
                      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                          <a href="components-alerts.html">
                            <i class="bi bi-circle"></i><span>数学</span>
                          </a>
                        </li>
                        <li>
                          <a href="components-accordion.html">
                            <i class="bi bi-circle"></i><span>国語</span>
                          </a>
                        </li>
                        <li>
                          <a href="components-badges.html">
                            <i class="bi bi-circle"></i><span>英語</span>
                          </a>
                        </li>
                        <li>
                          <a href="components-breadcrumbs.html">
                            <i class="bi bi-circle"></i><span>理科</span>
                          </a>
                        </li>
                        <li>
                          <a href="components-buttons.html">
                            <i class="bi bi-circle"></i><span>社会</span>
                          </a>
                        </li>
                       
                    
                
                  </ul>
            </div>
          </div><!-- End Left side columns -->
  
          <!-- Right side columns -->
          <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                  
                  <h5 class="card-title">数学</h5>
    
                  <!-- Default Accordion -->
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          １．正負の数の計算
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton1">
                          完了   </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll1"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks1"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks1"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks1"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks1"></td>
                                <td>正負の数の入試問題が解ける</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks1"></td>
                                <td>正負の数の問題の解き方が説明できる</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          ２．文字式の計算
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton2">完了</button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll2"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks2"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks2"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks2"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          ３．一次方程式
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton3">完了</button>
                      </h2>
                      <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll3"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks3"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks3"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks3"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          ４．比例・反比例
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton4">完了</button>
                      </h2>
                      <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll4"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks4"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks4"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks4"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          ５．作図と図形
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton5">完了</button>
                      </h2>
                      <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll5"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks5"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks5"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks5"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          ６．データの分析
                        </button>
                        <button type="button" class="btn btn-outline-success ms-2" id="successButton6">完了</button>
                      </h2>
                      <div id="panelsStayOpen-collapsesix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <table>
                            <thead>
                              <tr>
                                <th><input type="checkbox" id="checksAll6"></th>
                                <th>全て追加</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox" class="checks6"></td>
                                <td>正負の数の加減乗除の計算</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks6"></td>
                                <td>正負の数の四則混合</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox" class="checks6"></td>
                                <td>正負の数の分数・小数・カッコのついた計算</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
    

                </div>
  
          </div><!-- End Right side columns -->
  
        </div>
    </section>
</main>

{% endblock %}

{% block js %}
<script>
  // 各アコーディオン内の「全て選択」チェックボックスがクリックされた時
  document.querySelectorAll('[id^="checksAll"]').forEach(checkall => {
    checkall.addEventListener('click', () => {
      const checks = document.querySelectorAll(`.${checkall.id.replace('checksAll', 'checks')}`);
      for (let val of checks) {
        checkall.checked == true ? val.checked = true : val.checked = false;
      }
    });
  });

  // 各アコーディオン内の個別のチェックボックスがクリックされた時
  document.querySelectorAll('.checks').forEach(element => {
    element.addEventListener('click', () => {
      const checkall = document.getElementById(`checksAll${element.classList[1].replace('checks', '')}`);
      const checks = document.querySelectorAll(`.${element.classList[1]}`);
      // チェックが1つでも外された時
      if (element.checked == false) {
        checkall.checked = false;
      }
      // 全てにチェックがされた時
      if (document.querySelectorAll(`.${element.classList[1]}:checked`).length == checks.length) {
        checkall.checked = true;
      }
    });
  });

    // 各Successボタンのクリックイベントを設定
    document.querySelectorAll('[id^="successButton"]').forEach(button => {
      button.addEventListener('click', () => {
        button.classList.toggle('btn-outline-success');
        button.classList.toggle('btn-success');
      });
    });
</script>
{% endblock %}

</body>
</html>