{% extends "base.html" %}
{% load static %}
{% block title %}カリキュラム割当{% endblock %}

{% block main %}
<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between align-items-center">
    <div>
        <h1>{{curriculum_name}}</h1>
        {% if u_auth == 1 %}
        <a href="{% url 'curriculum_detail' curriculum_name %}">一</a>
        {% endif %}
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'teacherHome' %}">トップ/</a>
                    <a href="{% url 'library' %}">ライブラリー/</a>
                    <a href="{% url 'curriculum_home' curriculum_name %}" >{{curriculum_name}}</a>
                    
                </li>
            </ol>
        </nav>
    </div>

    {% if u_auth != 0 and u_auth != -1 %}
    <div class="btn-group">
      <button type="button" class="btn btn-success me-2 rounded" data-bs-toggle="modal" data-bs-target="#basicModal">
          <i class="bi bi-plus"></i>
      </button>
      <button type="button" class="btn btn-success rounded" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addMemberModal">メンバー編集</a></li>
          <li><a class="dropdown-item" href="{% url 'curriculum_detail' curriculum_name %}">編集</a></li>
          <li><a class="dropdown-item" href="#">カリキュラム削除</a></li>
      </ul>
      {% endif %}

     <!-- メンバー追加モーダル -->
     <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addMemberModalLabel">メンバー追加</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="addMemberForm">
                      {% comment %} 
                      <div class="mb-3">
                          <label for="memberSearch" class="form-label">メンバー検索</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="memberSearch" placeholder="ユーザーIDで検索">
                              <button class="btn btn-outline-secondary" type="button" id="searchButton">検索</button>
                          </div>
                      </div> 
                      {% endcomment %}
                      <div class="mb-3">
                          <label for="memberDropdown" class="form-label">メンバー選択</label>
                          <select class="form-select" id="memberDropdown">
                              <option selected>メンバーを選択...</option>
                              {% for user in users %}
                                  <option value="{{ user.u_id }}">名前: {{ user.u_name }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="mb-3">
                        <label for="deadline" class="form-label">期限</label>
                        <input type="date" class="form-control" id="deadline">
                      </div>

                      <button type="submit" class="btn btn-primary">追加</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

    </div>
  </div>


  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title"></h6>
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-task" type="button" role="tab" aria-controls="home" aria-selected="true">タスク</button>
            </li>

            {% comment %} 
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-test" type="button" role="tab" aria-controls="profile" aria-selected="false">テスト（開発中）</button>
            </li> 
            {% endcomment %}

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-member" type="button" role="tab" aria-controls="profile" aria-selected="false">メンバー</button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade show active" id="bordered-task" role="tabpanel" aria-labelledby="home-tab">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title">タスク一覧</h5>
                  <div>
                    {% if u_auth != 0 and u_auth != -1 %}

                    <button id="save-button" class="btn btn-primary">保存</button>
                    <button id="export-task-button" class="btn btn-primary">エクスポート</button>        
                    <button id="bulk-add-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bulkAddModal">一括追加</button>
                    {% endif %}

                    {% comment %} <button id="auto-fill-button" class="btn btn-secondary">テンプレート読込</button>  {% endcomment %}
                    
                  </div>
                </div>

                {% include 'components/_curr_home_modal.html'%}

                <div class="mb-3">
                  <label for="subject-select" class="form-label">教科を選択</label>
                  <select id="subject-select" class="form-select">
                    {% for subject in subjects %}
                    <option value="{{ subject }}" {% if forloop.first %}selected{% endif %}>{{ subject }}</option>
                    {% endfor %}
                  </select>
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class ="id-column">ID</th>
                      <th class ="manage-id">管理用ID</th>
                      <th class ="subject-cell">教科</th>
                      <th>タグ</th>
                      <th>タスク名</th>
                      <th>重要度</th>
                      <th>難易度</th>
                      {%if u_auth == 2 %}
                      <th>削除</th>
                      {% endif %}
                      <!-- 必要に応じて他のフィールドを追加 -->
                    </tr>
                  </thead>
                  <tbody id="task-table-body">
                    {% for subject, task_list in tasks.items %}
                    {% for task in task_list %}
                    <tr data-subject="{{ subject }}">
                      <td class="index-cell id-column">{{ forloop.counter }}</td>
                      <td class ="manage-id">{{ task.id}}</td>
                      <td class="subject-cell" value="{{task.sub_id}}">{{ subject }}</td>
                      <td class="tag-cell" contenteditable="true">{{ task.tag }}</td>
                      <td class="task-name-cell" contenteditable="true" value="{{task.task_id}}">{{ task.task_name }}</td>
                      <td>
                        <select class="form-select grade-select" data-task-id="{{ task.task_id }}" data-sub-id="{{ task.sub_id }}">
                          {% for value, label in task.grade_choices %}
                          <option value="{{ value }}" {% if value == task.grade %}selected{% endif %}>{{ label }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <select class="form-select priority-select" data-task-id="{{ task.task_id }}" data-sub-id="{{ task.sub_id }}">
                          {% for value, label in task.priority_choices %}
                          <option value="{{ value }}" {% if value == task.priority %}selected{% endif %}>{{ label }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      {%if u_auth == 2 %}
                      <td>
                        <button type="button" class="btn btn-danger delete-task-button" data-task-id="{{ task.id }}" data-tbl-task-id="{{task.Tbltask_id}}">削除</button>
                      </td>
                      {% endif %}
                      <!-- 必要に応じて他のフィールドを追加 -->
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
                </table>


              </div>
            </div>

            {% comment %}
            <div class="tab-pane fade" id="bordered-test" role="tabpanel" aria-labelledby="profile-tab">
              現在開発中です
            </div> 
            {% endcomment %}

            <div class="tab-pane fade" id="bordered-member" role="tabpanel" aria-labelledby="profile-tab">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      生徒
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {% for student in students %}
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ student.u_name }}</h5>
                        </div>
                      </a>
                      {% endfor %}
                    </div>
                    
                  </div>

                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      講師
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {% for teacher in teachers %}
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ teacher.u_name }}</h5>
                        </div>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% include 'components/_curr_home_js.html'%}
{% endblock %}